In [276]:
import pandas as pd
import numpy as np

# Getting enrollment data ready

In [277]:
df =pd.read_csv('enrollmentSingleYear.csv', encoding='latin-1')

In [278]:
len(df)

201

In [279]:
df['District Code'] = df['District Code'].str.extract(r'="(\d*)"')

In [280]:
#http://edsight.ct.gov/relatedreports/BDCRE%20Data%20Suppression%20Rules.pdf

In [281]:
df['White_estimate'] = df['White'].str.replace('*','5')

In [282]:
df['White_estimate'] = df['White_estimate'].astype(int)

In [283]:
df[df['Total']=='*']

,District,District Code,American Indian or Alaska Native,Asian,Black or African American,Hispanic/Latino of any race,Native Hawaiian or Other Pacific Islander,Two or More Races,White,Total,White_estimate
43,Department of Mental Health and Addiction Serv...,3370015,0,0,*,0,0,0,0,*,0
178,Union School District,1450011,0,0,0,*,0,0,*,*,5

In [284]:
df_final = df[df['Total']!='*']

In [285]:
df_final['Total_estimate'] = df_final['Total'].astype(int)

/Users/kasturipananjady/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [286]:
df_final['%_White'] =100*df_final['White_estimate']/df_final['Total_estimate']

/Users/kasturipananjady/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [287]:
df_enrollment_race = df_final[['District Code', 'District', '%_White','Total_estimate']]

In [288]:
df_enrollment_race = df_enrollment_race[df_enrollment_race['District Code']!='']

In [289]:
df_enrollment_race['District Code'] = df_enrollment_race['District Code'].astype(int)

In [290]:
len(df_enrollment_race)

198

In [291]:
df_enrollment_race

,District Code,District,%_White,Total_estimate
0,2850013,Achievement First Bridgeport Academy District,1.064774,1127
1,2880013,Achievement First Hartford Academy District,0.429553,1164
2,2790013,Amistad Academy District,0.970018,1134
3,10011,Andover School District,81.609195,174
4,20011,Ansonia School District,28.775693,2238
...,...,...,...,...
195,1650011,Windsor Locks School District,56.844850,1534
196,1640011,Windsor School District,24.060150,3325
197,1660011,Wolcott School District,85.740741,2160
198,1670011,Woodbridge School District,66.707466,817
199,1690011,Woodstock School District,89.473684,798

# Getting learning model data ready

In [292]:
df = pd.read_csv('Learning_Model_by_School_District (1).csv')

In [293]:
df

,District code,District name,School start date,Grades: In person,Grades: Hybrid,Grades: Remote,Percentage of students who are fully remote,Total number of students in the district,Predominant learning model,Organization type,Alliance District,Reporting period,Update date
0,130011,Bozrah School District,08/31/2020,"PK, K, g1, g2, g3","g4, g5, g6, g7, g8",NaN,32%,140,NaN,Public School Districts,NaN,"August 31, 2020 - September 4, 2020",09/15/2020
1,140011,Branford School District,09/10/2020,NaN,NaN,NaN,NaN,NaN,NaN,Public School Districts,NaN,"August 31, 2020 - September 4, 2020",09/15/2020
2,150011,Bridgeport School District,09/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,Public School Districts,Opportunity,"August 31, 2020 - September 4, 2020",09/15/2020
3,170011,Bristol School District,09/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,Public School Districts,Alliance,"August 31, 2020 - September 4, 2020",09/15/2020
4,670011,Hebron School District,09/08/2020,NaN,NaN,NaN,NaN,NaN,NaN,Public School Districts,NaN,"August 31, 2020 - September 4, 2020",09/15/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,2970013,Capital Preparatory Harbor School District,NaN,NaN,"K, g1, g2, g3, g4, g5, g6, g7, g8, g9, g10, g1...",NaN,NaN,NaN,Most/All Grades Hybrid,Public Charter School Districts,NaN,"February 8, 2021 - February 12, 2021",02/17/2021
5982,9000016,Connecticut Technical Education and Career System,NaN,g12,"g10, g11",g9,NaN,NaN,Most/All Grades Hybrid,CT Technical Education and Career Districts,NaN,"February 8, 2021 - February 12, 2021",02/17/2021
5983,9010022,Norwich Free Academy District,NaN,NaN,"g9, g10, g11, g12",NaN,NaN,NaN,Most/All Grades Hybrid,Endowed and Incorporated Academies Districts,NaN,"February 8, 2021 - February 12, 2021",02/17/2021
5984,9020022,The Gilbert School District,NaN,NaN,"g7, g8, g9, g10, g11, g12",NaN,NaN,NaN,Most/All Grades Hybrid,Endowed and Incorporated Academies Districts,NaN,"February 8, 2021 - February 12, 2021",02/17/2021
5985,9030022,The Woodstock Academy District,NaN,NaN,"g9, g10, g11, g12",NaN,NaN,NaN,Most/All Grades Hybrid,Endowed and Incorporated Academies Districts,NaN,"February 8, 2021 - February 12, 2021",02/17/2021

In [294]:
df['Update date'] = pd.to_datetime(df['Update date'])

In [295]:
#reporting period here is Feb 8-12

In [296]:
df_feb17 = df[df['Update date']==' 2021-02-17']

In [297]:
df_learningmodels = df_feb17[['District code','District name','Grades: Hybrid','Grades: Remote','Grades: In person']]

In [298]:
len(df_learningmodels)

285

In [299]:
df_learningmodels['District code'].nunique()

285

In [300]:
df_learningmodels['Grades: In person']

5701                        PK, K, g1, g2, g3, g4, g5, g6
5702    PK, K, g1, g2, g3, g4, g5, g6, g7, g8, g9, g10...
5703                PK, K, g1, g2, g3, g4, g5, g6, g7, g8
5704    PK, K, g1, g2, g3, g4, g5, g6, g7, g8, g9, g10...
5705    K, g1, g2, g3, g4, g5, g6, g7, g8, g9, g10, g1...
                              ...
5981                                                  NaN
5982                                                  g12
5983                                                  NaN
5984                                                  NaN
5985                                                  NaN
Name: Grades: In person, Length: 285, dtype: object

In [301]:
df_learningmodels['Most Grades Learning In-Person'] = df_learningmodels['Grades: In person'].str.count(',')+1

/Users/kasturipananjady/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [302]:
df_learningmodels['Most Grades Learning Remotely'] = df_learningmodels['Grades: Remote'].str.count(',')+1

/Users/kasturipananjady/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [303]:
df_learningmodels['Most Grades Learning in a Hybrid Model'] = df_learningmodels['Grades: Hybrid'].str.count(',')+1

/Users/kasturipananjady/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [304]:
df_learningmodels['Predominantly'] = df_learningmodels[['Most Grades Learning in a Hybrid Model','Most Grades Learning Remotely','Most Grades Learning In-Person']].idxmax(axis=1)

/Users/kasturipananjady/.pyenv/versions/3.7.1/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [305]:
df_learningmodels_final = df_learningmodels[['District code','District name','Predominantly']]

# Merging

In [306]:
df_merged = df_learningmodels_final.merge(df_enrollment_race, left_on='District code', right_on='District Code', how='right')

In [307]:
df_merged[df_merged['District code'].isna()]

,District code,District name,Predominantly,District Code,District,%_White,Total_estimate
175,NaN,NaN,NaN,3360015,Unified School District #1,8.965517,145
176,NaN,NaN,NaN,3470015,Unified School District #2,38.666667,75

In [308]:
df_merged = df_learningmodels_final.merge(df_enrollment_race, left_on='District code', right_on='District Code', how='left')

In [309]:
df_merged[df_merged['District Code'].isna()]['District name'].nunique()

89

In [310]:
df_merged[df_merged['District Code'].isna()]['District name'].unique()

array(['The Webb School in the Valley',
       'Oak Hill School at Farmington Valley Montessori',
       'Arch Bridge School', 'Oak Hill School at Hartford Secondary',
       'Connecticut Junior Republic-Bristol', 'The Learning Clinic',
       'Fresh Start School', 'The Webb School at Cheshire',
       'Adelbrook-The Learning Center of Cromwell',
       'Connecticut Coastal Academy', 'Rushford Academy',
       'Adelbrook-The Learning Center of East Hartford',
       'Pathways Academy - East Haven', 'The Light House on Main St',
       'The Light House on Pennsylvania Ave', 'The Speech Academy-Easton',
       'Natchaug Hospital School Joshua Center-Enfield',
       'Saint Catherine Academy', 'Natchaug Hospital Green Valley School',
       'Eagle Hill School', 'Cedarhurst School', 'Whitney Hall School',
       'Lorraine D. Foster Day School', 'Grace S. Webb School',
       'Eagle House Education Program',
       'High Road School of Hartford High',
       'High Road School of Hartford-Primary',
       'Futures School-West Hartford', 'Options Educational Services',
       'Oak Hill School at Hemlocks Center',
       'Natchaug Hospital School Joshua Center NE-Danielson',
       'High Road School Hartford High: Windham County',
       'Connecticut Junior Republic', 'Touchstone School', 'Grove School',
       'Community Child Guidance Clinic School',
       'Adelbrook-The Learning Center of Manchester',
       'Manchester Memorial Hospital Clinical Day School',
       'Natchaug Hospital Inpatient School',
       'Natchaug Hospital Journey School', 'Meliora Academy',
       'Charles F. Hayden School at Boys & Girls Village',
       'Milestones Behavioral Services-Orange',
       'Milestones Behavioral Services-Milford',
       'The Foundation School-Milford', 'Woodhouse Academy',
       'Bradley School-New London Regional',
       'IPPI Learning Academy at Prospect St. School',
       'Oak Hill School at Bristol', 'Raymond Hill School',
       'Solterra Academy', 'Oak Hill School at Hartford Primary',
       'Oak Hill School at Ann Antolini School',
       'Chapel Haven Schleifer Center, Inc.',
       'Yale Child Study Center School',
       'Connecticut College Child Development Lab School',
       'High Road School of New London Middle/High School',
       'Elizabeth Ives School for Special Children',
       'High Road School of Fairfield County',
       'Natchaug Hospital School Joshua Center Thames Valley CDT',
       'Natchaug Hospital School CDT-Shoreline',
       'The Foundation School-Orange', 'Hope Academy',
       'Northwest Village School/Wheeler Clinic',
       'Oak Hill School at Middle School of Plainville',
       'Oak Hill School at Haddam-Killingworth High School',
       'Oak Hill School at Portland', 'The Speech Academy-Somersville',
       'Villa Maria Education Center', 'IPPI Learning Academy: Stamford',
       'The Spire School', 'The Pinnacle School, LLC',
       'IPPI Learning Academy: Stratford',
       'River Run Academy at the Susan Wayne Center of Excellence',
       'Bradley School-Windham County',
       "St. Vincent's Special Needs School Program",
       'Union School District', 'Benhaven School', 'Benhaven Academy',
       'High Road Academy - BEST Academy',
       'High Road School of Wallingford', 'Devereux Glenholme School',
       'Waterford Country School', 'Gengras Center',
       'Intensive Education Academy', 'American School for the Deaf',
       'Ben Bronz Academy', 'PACES', 'Westport Day School'], dtype=object)

In [311]:
df_merged_final = df_learningmodels_final.merge(df_enrollment_race, left_on='District code', right_on='District Code')

In [312]:
df_merged_final.to_clipboard()

In [313]:
df_merged_final

,District code,District name,Predominantly,District Code,District,%_White,Total_estimate
0,10011,Andover School District,Most Grades Learning In-Person,10011,Andover School District,81.609195,174
1,20011,Ansonia School District,Most Grades Learning In-Person,20011,Ansonia School District,28.775693,2238
2,30011,Ashford School District,Most Grades Learning In-Person,30011,Ashford School District,84.864865,370
3,40011,Avon School District,Most Grades Learning In-Person,40011,Avon School District,62.627877,3128
4,50011,Barkhamsted School District,Most Grades Learning In-Person,50011,Barkhamsted School District,92.118227,203
...,...,...,...,...,...,...,...
191,2970013,Capital Preparatory Harbor School District,Most Grades Learning in a Hybrid Model,2970013,Capital Preparatory Harbor School District,1.019108,785
192,9000016,Connecticut Technical Education and Career System,Most Grades Learning in a Hybrid Model,9000016,Connecticut Technical Education and Career System,41.709296,11338
193,9010022,Norwich Free Academy District,Most Grades Learning in a Hybrid Model,9010022,Norwich Free Academy District,51.916706,2113
194,9020022,The Gilbert School District,Most Grades Learning in a Hybrid Model,9020022,The Gilbert School District,69.911504,452
195,9030022,The Woodstock Academy District,Most Grades Learning in a Hybrid Model,9030022,The Woodstock Academy District,86.206897,1044

In [314]:
df_merged_final.to_csv('this_stuff.csv', index=False)